<a class="btn btn-sm btn-default grab_link" href="{{ admin.generateObjectUrl('grab', object) }}">
    <i class="fas fa-binoculars" aria-hidden="true"></i>{{ 'Test grabbing'|trans({}, admin.translationDomain) }}
</a>
